# Node / Dependencies
node_modules/
package-lock.json
/.pnp
.pnp.js
/web-page-creation

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Testing
/coverage

# Mac
.DS_Store

# Build output
dist/
build/
.next/